body { 
  background: url('../images/marvelvillains.jpg') no-repeat center center fixed; 
  background-size: cover;
}

#carousel-id{
	box-shadow: 0px 2px 16px #00BCD4;
}

.images{
	width: 260px;
	position: inherit;
}
h1.infoTitle{
	text-align: center;
	text-decoration: underline;
 }
.panel-primary>.panel-heading, .btn-primary{
    color: #9d9d9d;
    background-color: blue;;
    border-color: black;
    text-align: center;
}

.panel-primary {
    border-color: black;
}
.navbar-brand{
	font-size: 40px;
	padding-left: 80px;
	padding-right: 40px;
}
#characterSubmit{
	width: 100%;
}

#moviesView, #comicsView{
	background-color:red;
	border: 1px purple;
	opacity: 0.9;
	margin-top: 20px;
	filter: alpha(opacity=60); 
	margin-bottom: 80px;
}

#moviesView{
	margin-right: 5px;
	width: 40%;
}

.text-muted{
	text-align: center;
	margin-top: 15px;
}

#comicsView{
	margin-left: 5px;
	width: 55%;
}