
html {
   height: 100%;
   margin: 0px;
   padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

p, ol, ul, li, footer { font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; }
h1      { font: bold 32px Georgia; }
h2      { font: bold 32px Georgia; } 
h3      { font: bold 24px Georgia; }
h4      { font: bold 18px Georgia; }
h5, li  { font: bold 16px Georgia; }
h6      { font: bold 14px Georgia; }

header, nav, section, article, aside, footer, hgroup {
   display: block;

}

aside {
      background-image: url("../images/sunburst.jpg");

}

body { 
    font-family: arial, sans-serif;
    background-image: url("../images/space_background_image_6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.page-header {
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
  /*border-bottom: 1px solid #eee;*/
}

#top_header {
   width: 1550px;
   font-family: "Times New Roman", Times, serif;
   text-align: left;
   vertical-align: middle;
   font-size: bold 24px;
   font-style: italic;
   background-color: lightyellow;

   /*border: 2px solid blue;*/
   margin: 2px 2px 0px 2px;
   padding: 10px 20px 10px 20px;
}

.container {
  width: 90%;
  height: 100%;
  /*background: lightblue;*/
  margin: -10px 40px 0px 80px;
  padding: -5px 10px 10px 10px;
}

.row {
  margin: 10px 5px 0px 5px;
  padding: 10px 5px 0px 5px;
}

.dropdown {
  text-align: center;
}

#userCharacterRequest {
  color: black;
}

/* Carousel Styling */
.slide1{
   background-image: url("../images/avengershires1.jpg");
   height: 600px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.slide2{
   background-image: url("../images/iron spider 2.png");
   height: 600px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.slide3{
   background-image: url("../images/thanos.jpg");
   height: 600px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.carousel-caption h4 {
  color: lightyellow;
  font-size: 2em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}

#character_bio {
  float: left;
  font-style: bold;
  height: 600px;
  border: 3px solid gray;
  background-color: #66CCCC;
  margin: 0px 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  color: white !important;
}

#plot {
  color: white !important;
}

#character-display {
  color: white !important;

}

#navBar1 {
   font: bold 18px Georgia;
   color: black;
   border: 1px solid white;
   margin: 0px 10px 10px 10px;
   padding: 0px 0px 0px 0px;
}

#userComm2 {
   font: bold 18px Georgia;
   color: midnightblue;
   border: 1px solid gray;
   margin: 0px 20px 10px 20px;
   padding: 10px 0px 10px 10px;
   max-width: 260px;
   float: right;
}

#userComm3 {
   font: bold 18px Georgia;
   color: darkred;
   border: 1px solid gray;
   margin: 10px 20px 10px 20px;
   padding: 10px 0px 10px 10px;
}

#userComm4 {
   font: bold 18px Georgia;
   color: black;
   border: 1px solid gray;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 0px;
}

#image_gallery {
    text-align: left;
    color: lightyellow;
    border: 3px solid gray
    font: bold 18px Georgia;
    /*color: darkblue; */
    /*margin: 10px 20px 10px 20px;*/
    margin-left: -148px
    padding: 0px 0px 10px 10px;
}

#the_footer {
   clear: both;
   text-align: center;
   color: black;
   background-color: lime;
   padding: 10px 10px;
   border-top: 3px lightgreen;
   border-bottom: 3px maroon;
}

.scaled {
  width: 195px;
  height: 180px;
  margin-bottom: 10px;
}

img.scaled:hover {
   -webkit-transform : scale(2);
   -transform : scale(2);
}
img.rotated:hover {
   -webkit-transform : rotate(90deg);
   -transform : rotate(90deg);
}
img.skewed:hover {
   -webkit-transform : skew(320deg, 0deg);
}

.modal-header {
  background-image: url(../images/hulkeyes2.jpg);
  height: 300px;
}

#modalComment {
  float: left;
  width: 400px;
  text-align: left;
}

.modal-footer {
  background-color: #80AF34;
}

.scroll {
   width: 290px; 
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
/*  overflow: auto;
*/}

#carousel {
  margin-bottom: 10px;
}


